@mixin themeCreation($themes: $themes) {
	@each $theme, $map in $themes {
		&.#{$theme} {
			$theme-map: () !global;
			@each $key, $value in $map {
				$value: map-get(map-get($themes, $theme), '#{$key}');
				$theme-map: map-merge($theme-map, ($key: $value)) !global;
			}

			@content;
			$theme-map: null !global;
		}
	}
}

@function theme-value($key) {
	@return map-get($theme-map, $key);
}

@mixin element(){
	background-color: theme-value('elements');
	color: theme-value('text');
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
