$themes:(
	light:(
		background: hsl(0, 0%, 98%),
		text: hsl(200, 15%, 8%),
		input: hsl(0, 0%, 52%),
		elements: hsl(0, 0%, 100%)
	),
	dark:(
		background: hsl(207, 26%, 17%),
		text: hsl(0, 0%, 100%),
		input: hsl(209, 23%, 22%),
		elements: hsl(209, 23%, 22%)
	)
);


$home-item-size: 14px;
$detail-item-size: 16px;

$default-width: 320px;
$gap: 64px;

$desktop: 1200px;
$mobile: 600px;
