@import 'variables';
@import 'typo';
@import 'mixins';

html{
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
}

body{
	@include themeCreation {
		background-color: theme-value('background');
		color: theme-value('text');
	}
}

header{
	position: sticky;
	top: 0;
}
